body {
    font-family: 'Fjalla One', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 100vh;
  }

  .image {
    flex: 0 0 72%;
    background-image: url('/static/contratos.png');
    background-size: cover;
    background-position: center;
    height: 100%;
    position: relative;
  }



  .welcome {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    color: #fff;
    font-size: 24px;
    text-align: center;
    display: none;
  }

  .form {
    flex: 0 0 25%; /* alterado */
    background-color: #fff;
    padding: 20px;
    padding-top: 130px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    background-color: #fff;
  }

  .form h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .form input[type="text"], .form input[type="password"] {
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 16px;
  }

  .form input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }

  .form input[type="submit"]:hover {
    background-color: #45a049;
  }
  @media screen and (max-width: 1040px){
    body {
        font-family: 'Fjalla One', sans-serif;
        margin: 0;
        padding: 0;
      }

    .container {
      flex-direction: column;
    }
    
    .image {
      flex: 0 0 0%; /* alterado */
      height: 15vh;
    }
    
    .welcome {
        display: none;
    }

    .form {
      flex: 0 0 100%; /* alterado */
      padding-top: 100px;
      border: 1px black solid;
      height: 90%;
    }
    


    label {
        font-size: 50px;
        margin-top: 60px;
        margin-bottom: 60px;
      }

    
    .form input[type="text"], .form input[type="password"] {
      font-family: 'Fjalla One', sans-serif;
      display: block;
      width: 100%;
      height: 100%;
      padding: 20px;
      margin-top: 60px;
      margin-bottom: 60px;
      border-radius: 5px;
      border: 2px solid black;
      box-sizing: border-box;
      font-size: 50px;
    }

    .form input[type="submit"] {
      background-color: #4CAF50;
      color: #fff;
      padding: 30px 40px;
      border: none;
      border-radius: 5px;
      font-size: 50px;
      cursor: pointer;
    }
  }
  
  
  