{% extends "template.html"%}
{% block conteudo %}
<form method="post" action="{{ url_for('atualizarCliente') }}" enctype="multipart/form-data" id="formulario">
<div class="box_cabecalho">
  <div class="box_titulo_interno">
    <i class="bi bi-person-workspace" data-toggle="tooltip" data-placement="right"></i> {{ titulo }}
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="#" onclick="myFunction()"><i class="bi bi-save" style="font-size:1.5rem; color:white;"></i></a>
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="{{url_for('visualizarCliente',id=id)}}"><i class="bi bi-reply" style="font-size:1.5rem; color:white;"></i></a>
  </div>
</div>
<div class="boxformulario">
  <fieldset>
    <input type="hidden" name="id" id="id" value="{{id}}">
    {{form.csrf_token()}}
    <div class="form-group">{{ form.cnpj_cliente.label(class='form-label') }}
      {{ form.cnpj_cliente(class='form-control') }}
    </div>          
    <div class="form-group">{{ form.nomerazao_cliente.label(class='form-label') }}
      {{ form.nomerazao_cliente(class='form-control') }}
    </div>
    <div class="form-group">{{ form.nomefantasia_cliente.label(class='form-label') }}
      {{ form.nomefantasia_cliente(class='form-control') }}
    </div>        
    <div class="form-group">{{ form.end_cliente.label(class='form-label') }}
      {{ form.end_cliente(class='form-control') }}
    </div>      
    <div class="form-group">{{ form.numend_cliente.label(class='form-label') }}
      {{ form.numend_cliente(class='form-control') }}
    </div>        
    <div class="form-group">{{ form.bairro_cliente.label(class='form-label') }}
      {{ form.bairro_cliente(class='form-control') }}
    </div>     
    <div class="form-group">{{ form.cidade_cliente.label(class='form-label') }}
      {{ form.cidade_cliente(class='form-control') }}
    </div>        
    <div class="form-group">{{ form.uf_cliente.label(class='form-label') }}
      {{ form.uf_cliente(class='form-control') }}
    </div>      
    <div class="form-group">{{ form.complemento_cliente.label(class='form-label') }}
      {{ form.complemento_cliente(class='form-control') }}
    </div>        
    <div class="form-group">{{ form.status.label(class='form-label') }}
      {{ form.status(class='form-control') }}
    </div>
  </fieldset>
</div>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
      $(document).ready(function() {
          $('#cep').on('blur', function() {
              var cep = $(this).val().replace(/\D/g, '');
              var url = 'https://viacep.com.br/ws/' + cep + '/json/';
  
              $.getJSON(url, function(data) {
                  $('#rua').val(data.logradouro);
                  $('#cidade').val(data.localidade);
                  $('#bairro').val(data.bairro);
                  $('#uf').val(data.uf);
              });
          });
      });

      $(document).ready(function() {
        $('#cepsolicitante').on('blur', function() {
            var cep = $(this).val().replace(/\D/g, '');
            var url = 'https://viacep.com.br/ws/' + cep + '/json/';

            $.getJSON(url, function(data) {
                $('#ruasolicitante').val(data.logradouro);
                $('#cidadesolicitante').val(data.localidade);
                $('#bairrosolicitante').val(data.bairro);
                $('#ufsolicitante').val(data.uf);
            });
        });
    });      
  </script> 
{% endblock%}