{% extends 'template.html' %}
{% block conteudo %}
  <form method="post" action="{{ url_for('criarContrato') }}" enctype="multipart/form-data" id="formulario">
    <div class="box_cabecalho">
      <div class="box_titulo_interno">
        <i class="bi bi-briefcase" data-toggle="tooltip" data-placement="right"></i> {{ titulo }}
      </div>
      <div class="box_botoes">
        <a class="btn btn_titulo" href="#" onclick="myFunction()"><i class="bi bi-save" style="font-size:1.5rem; color:white;"></i></a>
      </div>
      <div class="box_botoes">
        <a class="btn btn_titulo" href="{{ url_for('contrato') }}"><i class="bi bi-reply" style="font-size:1.5rem; color:white;"></i></a>
      </div>
    </div>
    <!-- conteudo -->
    <div class="boxformulario">
      <fieldset>
        {{ form.csrf_token() }}
        <div class="form-group">{{ form.cod_cliente.label(class='form-label') }}
          {{ form.cod_cliente(class='form-control') }}
        </div>
        <div class="form-group">{{ form.obj_contrato.label(class='form-label') }}
          {{ form.obj_contrato(class='form-control') }}
        </div>
        <div class="form-group">{{ form.datavalidade_contrato.label(class='form-label') }}
          {{ form.datavalidade_contrato(class='form-control') }}
        </div>        
        <div class="form-group">{{ form.status_contrato.label(class='form-label') }}
          {{ form.status_contrato(class='form-control') }}
        </div>
      </fieldset>
    </div>
  </form>
{% endblock %}
