{% extends "template.html"%}
{% block conteudo %}
<div class="box_cabecalho">
  <div class="box_titulo_interno">
    <i class="bi bi-card-text" data-toggle="tooltip" data-placement="right"></i> {{ titulo }}
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="{{url_for('editarTarefa',id=id)}}"><i class="bi bi-pencil" style="font-size:1.5rem; color:white;"></i></a>
  </div>
  <div class="box_botoes">
    <a class="btn btn_titulo" href="{{url_for('visualizarBacklog',id=idbacklog)}}"><i class="bi bi-reply" style="font-size:1.5rem; color:white;"></i></a>
  </div>
</div>
<div class="boxformulario">
  <fieldset>
    {{form.csrf_token()}}
    <div class="form-group">{{ form.titulo_tarefa.label(class='form-label') }}
      {{ form.titulo_tarefa(class='form-control') }}
    </div>        
    <div class="form-group">{{ form.descricao_tarefa.label(class='form-label') }}
      {{ form.descricao_tarefa(class='form-control') }}
    </div>
    <div class="form-group">{{ form.datacriacao_tarefa.label(class='form-label') }}
      {{ form.datacriacao_tarefa(class='form-control') }}
    </div>        
    <div class="form-group">{{ form.dataconclusao_tarefa.label(class='form-label') }}
      {{ form.dataconclusao_tarefa(class='form-control') }}
    </div>
    <div class="form-group">{{ form.prioridade_tarefa.label(class='form-label') }}
      {{ form.prioridade_tarefa(class='form-control') }}
    </div>   
    <div class="form-group">{{ form.estimativa_tarefa.label(class='form-label') }}
      {{ form.estimativa_tarefa(class='form-control') }}
    </div>
    <div class="form-group">{{ form.cod_usuario.label(class='form-label') }}
      {{ form.cod_usuario(class='form-control') }}
    </div>        
    <div class="form-group">{{ form.obs_tarefa.label(class='form-label') }}
      {{ form.obs_tarefa(class='form-control') }}
    </div>        
    <div class="form-group">{{ form.status_tarefa.label(class='form-label') }}
      {{ form.status_tarefa(class='form-control') }}
    </div>   
  </fieldset>  
</div>
{% endblock%}